* {
	margin: 0;
	padding-top: 0;
}

body {
	background-color: #DCDCDC;
	font-size: 20px;
	font-family: Helvetica, "Arial", sans-serif;
}

#cabecalho {
	background-color: #fff;
	height: 100px;
	margin: 40px 20px;
	padding-top: 10px;
	font-size: 20px;
	border-radius: 5px;
	border-bottom: 1px solid #4F4F4F;
}

#area{
	width: 920px;
	margin: 0 auto;
}

#titulo {
	color: 	#4F4F4F;
	padding-top: 15px;
	float: left;
}

#menu-principal {
	float: right;
}

a {
	font-size: 16px;
	text-decoration: none;
	color: #808080;
	padding: 5px 8px;
	cursor: pointer;
}

/*Links não visitados*/
a:link {
	color: #808080;
}

/*Links visitados*/
a:visited {
	color: #808080;
}

a:hover {
	color: #fff;
	background-color: black;
}

.cor1 {
	color: #000000;
}

.cor2 {
	color: #363636;
}

.cor3 {
	color: #696969;
}