* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif, Helvetica;
}

/*Cabecalho*/
#areaTopo img {
    margin-top: 60px;
    width: 100%;
    margin-bottom: -10px;
}

.logoCabecalho {
    width: 100px;
    height: 40px;
    padding: 8px;
}

/*Menu Cabecalho*/
#menu-fixo {
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
}

.items-menu {
    right: 20%;
    float: right;
    padding: 18px 12px 18px 12px;
    color: white;
    text-decoration: none;
}

.items-menu:hover {
    color:#000;
    background-color:#FFFFFF;
}

/*Pontos Turísticos Destaques*/
#pontosTuristicosDestaque {
    background-color: rgb(255, 166, 0);
    display: inline-block;
    width: 100%;
}

.tituloDestaque {
    color:#000;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 18px 0 18px 0;
}

div#divAlbum {
    padding: 20px;
}

div#divTexto {
    color: #FFFFFF;
    float: left;
    width: 300px;
    margin-left: 180px;
    margin-top: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1px;
}

/*Álbum Destaque*/
ul#album {
    background-color: rgb(241, 240, 240);
    width: 660px;
    list-style: none;
    display: flex;
    margin: 20px 40%;
    box-shadow: 2px 2px 2px 2px rgba(10,10,10,0.3);
    border-radius: 2px;
}

.min {
   width: 200px;
   height: 150px;
   padding: 10px;
}

.lbox {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.lbox:target {
    display: block;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10,10,10,0.7);
    position: fixed;
}

.box_img {
    width: 718px;
    height: 475px;
    margin: 100px auto;
}

.btn {
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif, Helvetica;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    position: absolute;
    width: 50px;
    height: 50px;
}

#anterior {
    left: 20%;
    top: 45%;
}

#proximo {
    right: 20%;
    top: 45%;
}

#fechar {
    top: 0;
    right: 2px;
}

.legendaFoto1 {
    position: absolute;
    background-color: #fff;
    opacity: 0.8;
    margin-top: -23px;
    width: 400px;
    border-radius: 0 2px 0 0;
}

.legendaFoto2 {
    position: absolute;
    background-color: #fff;
    opacity: 0.8;
    margin-top: -23px;
    width: 170px;
    border-radius: 0 2px 0 0;
}

.legendaFoto3 {
    position: absolute;
    background-color: #fff;
    opacity: 0.8;
    margin-top: -23px;
    width: 220px;
    border-radius: 0 2px 0 0;
}

.legendaFoto1 p.paragrafoLegenda,
.legendaFoto2 p.paragrafoLegenda,
.legendaFoto3 p.paragrafoLegenda {
    font-size: 12px;
    color: black;
    margin-left: 5px;
}

/*Maricá Rotativo*/
#maricaRotativo {
    background-color: #FFFFFF;
    display: inline-block;
    width: 100%;
}

.tituloRotativo {
    color: rgb(255, 166, 0);
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 18px 0 18px 0;
}

.fotoAppRotativo {
    width: 243px;
    height: 445px;
    margin: 10px;
}

div#divApp {
    float: left;
    width: 260px;
    margin-left: 280px;
}

div#divTextoApp {
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
    margin-right: 50px;
    margin-top: 50px;
    width: 600px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1px;
}

.icones-loja-play {
    margin-left: 25px;
}

.icones-loja-apple {
    margin-left: 5px;
}

/*Passeios Turisticos*/
#pousadas {
    background-color: rgb(255, 166, 0);
    display: inline-block;
    width: 100%;
}

#fotoMapa {
    float: right;
    margin-right: 250px;
}

#textosPousadas {
    display: inline-block;
    color: #FFFFFF;
    width: 600px;
    margin-left: 180px;
    margin-top: 115px;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1px;
}

/*Passeios*/
.tituloAventura {
    color: rgb(255, 166, 0);
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 18px 0 18px 0;
}

#agendarPasseio {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}

#textoPasseio {
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 30px;
    margin-top: 30px;
    width: 500px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1px;
}

/*Álbum Passeio*/
div#passeio {
    float: left;
    margin-left: 0px;
}

ul#albumPasseio {
    background-color: rgb(252, 181, 30);
    width: 660px;
    list-style: none;
    display: flex;
    margin: 20px 10%;
    box-shadow: 2px 2px 2px 2px rgba(10,10,10,0.3);
    border-radius: 2px;
}

.min2 {
    width: 200px;
    height: 150px;
    padding: 10px;
}

.lbox2 {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.lbox2:target {
    display: block;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10,10,10,0.7);
    position: fixed;
}

.box_img2 {
    width: 718px;
    height: 475px;
    margin: 100px auto;
}

.btn2 {
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif, Helvetica;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    position: absolute;
    width: 50px;
    height: 50px;
}

#anterior2 {
    left: 20%;
    top: 45%;
}

#proximo2 {
    right: 20%;
    top: 45%;
}

#fechar2 {
    top: 0;
    right: 2px;
}

.legendaFoto4 {
    position: absolute;
    background-color: #fff;
    opacity: 0.8;
    margin-top: -22px;
    width: 100px;
    border-radius: 0 2px 0 0;
}

.legendaFoto5 {
    position: absolute;
    background-color: #fff;
    opacity: 0.8;
    margin-top: -22px;
    width: 125px;
    border-radius: 0 2px 0 0;
}

.legendaFoto6 {
    position: absolute;
    background-color: #fff;
    opacity: 0.8;
    margin-top: -22px;
    width: 280px;
    border-radius: 0 2px 0 0;
}

.legendaFoto4 p.paragrafoLegenda2,
.legendaFoto5 p.paragrafoLegenda2,
.legendaFoto6 p.paragrafoLegenda2 {
    font-size: 12px;
    color: black;
    margin-left: 5px;
}

/*RODAPE*/
#rodape {
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    width: 90%;
    height:160px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px 3px 0 0;
}

#logo-rodape {
    float: left;
}

#logo-rodape img {
    width: 200px;
    height: 54px;
    margin: 14px 0 30px 15px;
}

#emailRodape {
    margin-left: 0;
    width: 180px;
    height: 28px;
    border: none;
}

#noticias {
    margin-left: 15px;
}

#noticias label {
    color: #fff;
}

#noticias button {
    color: #fff;
    background-color: rgb(185, 121, 121);
    border: none;
    margin-left: -4px;
    width: 80px;
    height: 28px;
    cursor: pointer;
}

#noticias button:hover {
    background-color: rgb(177, 87, 87);
}

#direitos-reservados {
    display: inline-block;
    margin-top: 130px;
    margin-left: 17%;
    color: white;
}

#redes-sociais {
    float: right;
    margin-top: 15px;
    color: white;
}

ul#lista-sociais {
    width: 100px;
    background-color: rgb(0, 0, 0);
    font-size: 10px;
    height: 100%;
    list-style: none;
    margin-right: 15px;
}

ul#lista-sociais p{
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 4px;
    margin-bottom: 8px;
}

.iconeFace {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.iconeInsta, .iconePref {
    margin-left: 5px;
    width: 22px;
    height: 22px;
}

.faceItem, .instaItem, .prefItem {
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
    margin-bottom: 10px;
}
.faceItem span, .instaItem span, .prefItem span {
    font-size: 11px;
    margin-left: 4px;
    padding-top: 20px;
}

